<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>TechSphere | {% block title %}{% endblock title %}</title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}" />
        <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}" />
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <!-- Zastąpienie tekstu logo obrazem -->
                <a class="navbar-brand" href="#">
                    <img src="/static/app/images/product/logo3.png" alt="TechSphere Logo" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Promotions</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Category
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Category 1</a></li>
                                <li><a class="dropdown-item" href="#">Category 2</a></li>
                                <li><a class="dropdown-item" href="#">Category 3</a></li>
                                <li><a class="dropdown-item" href="#">Category 4</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bestsellers</a>
                        </li>
                    </ul>
                    <!-- Form wyszukiwania -->
                    <form class="d-flex ms-auto" id="search-form">
                        <input class="form-control me-2" type="search" id="search-input" placeholder="Search" aria-label="Search">
                    </form>
                    <!-- Jeśli użytkownik jest zalogowany -->
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span id="username">Hello, User</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">My Orders</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="#" class=nav-link text-white>Cart</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="#" class=nav-link text-white>Whishlist</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="#" class=nav-link text-white>Login</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="#" class=nav-link text-white>Registration</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content-wrapper-slider">
            {% block banner-slider %}

            {% endblock banner-slider %}
        </div>


        <div class="container mt-4 pt-4">
            {% block main-content %}
            <!-- Main content will be rendered here -->
            {% endblock %}
        </div>

        <!-- Stopka -->
        <footer class="bg-light mt-5 pt-5 pb-3">
            <div class="container">
                <div class="row">
                    <!-- O nas -->
                    <div class="col-12 col-md-3 mb-4">
                        <h5 class="font-weight-bold">About Us</h5>
                        <ul class="list-unstyled">
                            <li><a href="/about" class="text-decoration-none text-dark">About TechSphere</a></li>
                            <li><a href="/contact" class="text-decoration-none text-dark">Contact Us</a></li>
                            <li><a href="/careers" class="text-decoration-none text-dark">Careers</a></li>
                        </ul>
                    </div>

                    <!-- Obsługa klienta -->
                    <div class="col-12 col-md-3 mb-4">
                        <h5 class="font-weight-bold">Customer Service</h5>
                        <ul class="list-unstyled">
                            <li><a href="/faq" class="text-decoration-none text-dark">FAQ</a></li>
                            <li><a href="/shipping" class="text-decoration-none text-dark">Shipping</a></li>
                            <li><a href="/returns" class="text-decoration-none text-dark">Returns</a></li>
                        </ul>
                    </div>

                    <!-- Prawo -->
                    <div class="col-12 col-md-3 mb-4">
                        <h5 class="font-weight-bold">Legal</h5>
                        <ul class="list-unstyled">
                            <li><a href="/privacy" class="text-decoration-none text-dark">Privacy Policy</a></li>
                            <li><a href="/terms" class="text-decoration-none text-dark">Terms of Service</a></li>
                        </ul>
                    </div>

                    <!-- Social Media -->
                    <div class="col-12 col-md-3 mb-4">
                        <h5 class="font-weight-bold">Connect With Us</h5>
                        <div class="d-flex">
                            <a href="#" class="text-dark mx-2"><i class="fab fa-facebook" style="font-size: 24px;"></i></a>
                            <a href="#" class="text-dark mx-2"><i class="fab fa-twitter" style="font-size: 24px;"></i></a>
                            <a href="#" class="text-dark mx-2"><i class="fab fa-instagram" style="font-size: 24px;"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Informacja o prawach autorskich -->
                <div class="border-top pt-4 text-center">
                    <p class="text-muted mb-0">&copy; 2025 TechSphere. All rights reserved.</p>
                </div>
            </div>
        </footer>

        <!-- FontAwesome do ikon -->
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'app/js/all.min.js' %}"></script>
        <script src="{% static 'app/js/myscript.js' %}"></script>
    </body>
</html> 